body{
    background-image: url(https://i.postimg.cc/2yQF6YzC/imageedit-1-9209934790.png);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-shadow:
    -1px -1px 0 rgb(78, 77, 77),
    1px -1px 0 rgb(78, 77, 77),
    -1px 1px 0 rgb(78, 77, 77),
    1px 1px 0 rgb(78, 77, 77);
    color: aliceblue;
}
.buttons a:link{
    background-color: rgb(177,223,104);
    display: inline-block;
    padding: 10px;
    width: auto;
    height: auto;
    box-shadow: 1.6px 1.6px 1.6px grey;
    text-decoration: none;
    border-radius: 7px;
}
.buttons a:hover{
    background-color: rgb(156, 202, 83);
    transition: 0.2s;
}
.buttons a:visited{
    color: aliceblue;
}
.Developer{
    background-color: rgb(177,223,104);
    box-shadow: 1.6px 1.6px 1.6px grey;
    width: 700px;
    height: auto;
    padding: 30px;
    border-radius: 2px;
    position: relative;
    left: 400px;
    top: 100px;
}
.titlecard{
    text-align: center;
    width: 400px;
    height: 160px;
    background-color: rgb(0, 0, 0, 0.2);
    margin: auto;
    position: relative;
    top: 180px;
}
#PlayButton{
    font-size: 2em;
    width: 300px;
}
#CheatButton{
    position: absolute;
    bottom: 1px;
}
#FindMe{
    position: absolute;
    left: 400px;
}
#Sidebar{
    background-color: rgb(177,223,104);
    display: inline-block;
    width: 210px;
    height: 625px;
    border-radius: 5px;
}